body {
  background: linear-gradient(to bottom right, #585a8a 0%, #ff99cc 100%);
}
.cardd {
  margin-top: 150px;
}
.card {
  padding: 60px 60px;
  border-radius: 20;
}
.heading {
  text-align: center;
}
.card1 {
  background-image: url("./images/login-back.svg");
  background-size: 250px 330px;
  background-repeat: no-repeat;
  background-position: center;

  background-color: #403e56;
}
.card2 {
  background-color: #f9f9f9;
}
select {
  padding-left: 20px;
  text-align: center;
}
.card2 p {
  font-size: 16;
  text-align: center;
  margin-top: 20px;
}
h3 {
  font-size: 20;
}

@media only screen and (max-width: 600px) {
  .card1 {
    display: none;
  }

  .cardd {
    margin: 0px;
  }
  .card {
    margin: 0px 0px;
    padding: 60px 20px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
  }
}
